.text-justify {
  text-align: justify;
}
.drone-div {
  width: 480px;
  height: 500px;
  border: solid 40px #b91a1a;
  position: relative;
}
.hd-div {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.hd {
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 0 #00000034, 2px -2px 0 #00000034, -2px 2px 0 #00000034,
    -2px -2px 0 #00000034, 2px 0px 0 #00000034, 0px 2px 0 #00000034,
    -2px 0px 0 #00000034, 0px -2px 0 #00000034;
}

.object {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

.res-feature-icons {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 40px;
  }
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-animated-drone {
    width: 250px;
    height: 155px;
  }
  .drone-div {
    width: 300px;
    height: 330px;
    border: solid 25px #b91a1a;
    position: relative;
  }

  .hd {
    font-size: 50px;
  }

  .hd-div {
    padding: 5px;
  }

  .res-about-title {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
  }
}
