.payment-frame {
  border: 2px solid lightgray;
  width: 40%;
  margin: 0 auto;
}
.label {
  padding: 8px;
  background-color: rgba(233, 233, 233, 0.705);
  border-radius: 5px;
  display: inline-block;
  width: 100px;
  margin: 10px;
  text-transform: uppercase;
}
.orderInfo {
  width: 45%;
}
.orderInfo-row {
  flex-direction: column;
}
@media all and (max-width: 688px) {
  .dashboard-sectionTitle {
    font-size: 20px;
  }
  .orderInfo {
    width: 80%;
  }
  .payment-frame {
    width: 90%;
  }
}
