.payment-frame {
  height: 300px;
  border: 2px solid lightgray;
}
.label {
  padding: 8px;
  background-color: rgba(233, 233, 233, 0.705);
  border-radius: 5px;
  display: inline-block;
  width: 100px;
  margin: 10px;
  text-transform: uppercase;
}

@media all and (max-width: 688px) {
  .dashboard-sectionTitle {
    font-size: 20px;
  }
}
