.details-box {
  margin-top: -12%;
  margin-right: 7%;
  width: 190px;
  height: 108px;
}

.buy-btn {
  background-color: #d9534f;
  color: white;
  text-transform: uppercase;
  border: none;
}

.slick-slide > div {
  display: grid;
  place-items: center;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-display-img {
    width: 250px;
    height: 170px;
  }
}
