.hover-border:hover {
  border: 1px #cc0000 solid;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .hover-border {
    padding: 0px 0px 0px 8px;
  }
  .res-frame {
    padding-top: 50px;
  }
}
