.positioting {
  margin-bottom: 12%;
}

.tiny-shadow {
  text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header {
  font-size: 50px;
}

.h-btn {
  background-color: #b91a1a;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
}

.res-newsletter {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 650px;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .header {
    font-size: 15px;
  }
  .positioting {
    margin-bottom: 2%;
  }
  .h-btn {
    background-color: #b91a1a;
    border: none;
    color: white;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
  }
  .res-order-title {
    font-size: 10px;
  }
}
