.dashboard-font {
  font-size: 18px;
}
.dashboard {
  color: black;
}
.dashboard:hover {
  color: #d9534f;
}
.dashboard-active {
  color: #d9534f;
}

.menubar {
    border-left: 2px solid lightgray;
}

hr.new {
  border: 1px solid grey;
  width: 90%;
  margin: auto;
}
