.dashboard-font {
  font-size: 18px;
}
.dashboard {
  color: black;
}
.dashboard:hover {
  color: #d9534f;
}
.dashboard-active {
  color: #d9534f;
}

.menubar {
    height: 800px;
    border-right: 1px solid gray;
}
